<app-modal modalID="addOpp">
             
  <div class="publishBg">

      <p class="text-2xl font-bold" heading>Help</p>



<!-- Help Tab -->
<div class="container mx-auto w-96 z-50">
    <div class="text-left w-full md:w-8/12 mx-auto">
      <h1 class="text-7xl font-bold uppercase mb-2 font-extrabold">HELP</h1>
      <p>
        CAPCAT is a centralized repository with information regarding various
        capabilities BITEE has to offer. Stored within this database houses
        capabilities that can be offered, implemented, and utilized by Space
        programs. Feel free to browse or search solutions and capability details
        as they matures throughout its development and sustainment lifecycle!
      </p>
    </div>
  </div>

      


    <!-- Registration Form -->
  <form>
    <!-- Name -->
    <div class="mb-3">
      <label class="inline-block mb-2">Name</label>
      <input type="text"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
          duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
        placeholder="Enter Name" />
    </div>
    <!-- Email -->
    <div class="mb-3">
      <label class="inline-block mb-2">Email</label>
      <input type="email"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
          duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
        placeholder="Enter Email" />
    </div>
    <!-- Age -->
    <div class="mb-3">
      <label class="inline-block mb-2">Age</label>
      <input type="number"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
          duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400" />
    </div>
    <!-- Password -->
    <div class="mb-3">
      <label class="inline-block mb-2">Password</label>
      <input type="password"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
          duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
        placeholder="Password" />
    </div>
    <!-- Confirm Password -->
    <div class="mb-3">
      <label class="inline-block mb-2">Confirm Password</label>
      <input type="password"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
          duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
        placeholder="Confirm Password" />
    </div>
    <!-- Phone Number -->
    <div class="mb-3">
      <label class="inline-block mb-2">Phone Number</label>
      <input type="text"
        class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
          duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
        placeholder="Enter Phone Number" />
    </div>
    <button type="submit"
      class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition
        hover:bg-indigo-500">
      Submit
    </button>
  </form>


  </div>
  

 

       


  </app-modal>
  