
<br>
<br>
<br>

<section class="lg:container lg:mx-auto relative flex justify-center items-center">

        <!-----MIDDLE CONTAINER---------------->

        <div class="container mx-auto">

            <div class="row ">
                    <h2><strong>About This Database</strong></h2>
                    <p> Welcome to the Tech Strategy Database! This database page houses information about Lockheed Martin Space’s collaborations with small businesses and universities relating to Digital Transformation technologies.
                        In addition to the collaborations with small businesses and universities relating to Digital Transformation technologies, we offer opportunities for small businesses and universities. 
                        These opportunities
                        Please feel free to browse our catelog of relative information that meets your needs. 
                        <span></span>
                    </p>


            </div>
            <!-----CONTENT----->
<br>
<br>
<br>
            <!-----ROW CONTAINER 50% TWO COL---------------->
            <div class="featured-technology container mx-auto">
                
                <br>
                <div class="row">
                    
                <h2><strong>Featured Technology</strong></h2>
                    
                </div>
                <br>
                <br>
                
                <div class="row ft">
                  
                    
                    <div class="col-lg-6 ft-container  border-dark ">
                        <div class="scale-50 hover:scale-75 ease-in duration-500"></div>
                        <img class="img-fluid ft-images scale-50 hover:scale-75 ease-in duration-500" src="assets\images\digital-twin.jpg" alt=" digital-twin">
                        <div class="container d-none d-md-block carousel-text-box ">
                            <div class="container-fluid"><h5>DIGITAL TWIN</h5>
                                <p>A digital twin is a virtual representation that serves as the real-time digital counterpart of a physical object or process.
                                </p>
                            </div>
                        </div>
                        </div>
                 

        

                        <div class="col-lg-6 ft-container  border-dark">
                            <img class="img-fluid ft-images" src="assets\images\quantum-computing.jpg" alt=" quantum-computing">
                            <div class="container d-none d-md-block carousel-text-box ">
                                <div class="container-fluid"><h5>QUANTUM COMPUTING</h5>
                                    <p>Quantum computing harnesses the collective properties of quantum states to perform calculations.
                                    </p>
                                </div>
                            </div>
                            </div>
                     
                </div>
                <br>
                <br>
                <br>



        </div>
        </div>

        <!-----MIDDLE CONTAINER---------------->
<br>
<br>
<br>

</section>

        <!-----BOTTOM CONTAINER---------------->
<div class="bottom-container ">
    <div class="top-bottom container">
        <div class="row">
        
                <h2> Do you have any opportunity to add?</h2>
                <br>
                 <p>Is your team currently working with a small business or university in developing tech? <a class="" id="" href="">Add an Opportunity</a> to add it into this database.  
                </p>
    </div>

    </div>
    <br>
    <br>
    <br>
    <br><br>
    <div class="bottom-bottom-container">

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 foot"> <p class="footer">
                Questions? Need additional support?</p>
                <p class="footer">Contact the Tech Strategy team: Tanvi Tadimeti (<u>tanvi.tadimeti@lmco.com</u>) or Mark Cantrell (<u>mark.a.cantrell@lmco.com</u>).
                </p>
            </div>
            <div class="col-lg-1"></div>
        </div>

    </div>
</div>

        <!-----BOTTOM CONTAINER---------------->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>